h1{
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
p{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

}